
1.DOCUMENTACION/PROYECTO/2.JUEGO/General/Consolidación de mockups.pdf

1.DOCUMENTACION/PROYECTO/2.JUEGO/General/Consolidación de mockups.pdf

1.DOCUMENTACION/PROYECTO/2.JUEGO/General/Consolidación de mockups.pdf

FRONTEND/juego/img/.DS_Store

FRONTEND/juego/img/Componentes/.DS_Store

1.DOCUMENTACION/PROYECTO/2.JUEGO/General/Consolidación de mockups.pdf

1.DOCUMENTACION/PROYECTO/2.JUEGO/General/Consolidación de mockups.pdf

FRONTEND/juego/img/.DS_Store

FRONTEND/juego/img/Componentes/.DS_Store
