<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CapturaModuloCategoria</servlet-name>
        <servlet-class>CapturaModuloCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturaModeloFrase</servlet-name>
        <servlet-class>CapturaModeloFrase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturaModeloMundo</servlet-name>
        <servlet-class>CapturaModeloMundo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturaModuloFrase</servlet-name>
        <servlet-class>CapturaModuloFrase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturaModuloMundo</servlet-name>
        <servlet-class>CapturaModuloMundo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturaModuloNivel</servlet-name>
        <servlet-class>CapturaModuloNivel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturaModuloPersonaje</servlet-name>
        <servlet-class>CapturaModuloPersonaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturaModuloPoder</servlet-name>
        <servlet-class>CapturaModuloPoder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturaModuloRolUsuario</servlet-name>
        <servlet-class>CapturaModuloRolUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturaModuloUsuario</servlet-name>
        <servlet-class>CapturaModuloUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesionServlet</servlet-name>
        <servlet-class>Sevlets.InicioSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>Sevlets.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarClave</servlet-name>
        <servlet-class>Sevlets.RecuperarClave</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CapturaModuloCategoria</servlet-name>
        <url-pattern>/CapturaCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturaModeloFrase</servlet-name>
        <url-pattern>/CapturaModeloFrase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturaModeloMundo</servlet-name>
        <url-pattern>/CapturaModeloMundo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturaModuloFrase</servlet-name>
        <url-pattern>/CapturaModuloFrase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturaModuloMundo</servlet-name>
        <url-pattern>/CapturaModuloMundo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturaModuloNivel</servlet-name>
        <url-pattern>/CapturaModuloNivel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturaModuloPersonaje</servlet-name>
        <url-pattern>/CapturaModuloPersonaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturaModuloPoder</servlet-name>
        <url-pattern>/CapturaModuloPoder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturaModuloRolUsuario</servlet-name>
        <url-pattern>/CapturaModuloRolUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturaModuloUsuario</servlet-name>
        <url-pattern>/CapturaModuloUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesionServlet</servlet-name>
        <url-pattern>/Iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarClave</servlet-name>
        <url-pattern>/RecuperarClave</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
