/*!==========================================================================
   Layout
   ========================================================================== */



/* ======================== Body & Wrapper ======================== */
        #wrapper{
        	.dd-container {
        	    font-size: 17px;
        	    font-weight: normal;
        	}
        } 
        .container-header {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .container-menu {
            margin: 0 auto;
            padding-bottom: 10px;
            position: relative;
            z-index: auto;
        }
        .nacked-menu {
            padding: 0 15px;
            margin-bottom: -1px;
        }
        .container-center {
            margin: 0px auto;
        }
        .container-footer {
            margin-bottom: 0;
            position: relative;
        }
        .header-widgets {
            padding-top: 35px;
        }



/* ======================== Header ======================== */
        .header{
            margin: 0 auto;
            #righttopcolumn {
        	    float: right;
        	    position: relative;
        	    z-index: 100;
        	    .sc_menu {
        		    float: right;
        		    margin: 0;
        		    padding: 0;
        		    li {
        			    display: inline-block;
        			    float: left;
        			    padding: 0 0 5px;
        			    a {
        				    display: inline-block;
        				    line-height: 0;
        				    margin: 0 5px;
        				    padding: 5px;
        				}
        			}
        		}
        	}
        	#logo {
        	    font: 400 39px/39px "Roboto", arial, sans-serif;
        	    letter-spacing: -0.01em;
        	    position: relative;
        	}
            #sticky-logo {
                position: relative;
                font: 400 25px 'Roboto', arial, sans-serif;
                letter-spacing: -0.01em;
            }
        }
        #logo-image {
            float: left;
            margin-right: 20px;
        }
        #header.sticky-header {
            @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
            background: rgba(242, 242, 242, 0.97);
            position: fixed;
            top: 0;
            z-index: 99998;
            display: none;
            padding: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }



/* ======================== DD Slick ======================== */
            #wrapper {
                .dd-container{
                    .dd-select{
                        height: auto;
                        border: none;  
                    }
                    .dd-selected{
                        padding: 0 15px;
                        background: none;        
                    }
                    .dd-selected-text{
                        background: rgba(255, 255, 255, 0.5);
                        margin: 8px 0;
                        padding: 8px 12px;
                        cursor: pointer;
                        line-height: 1;
                        border-radius: 4px;
                        @include box-shadow(3px);
                        @include box-shadow(1px 1px 0 rgba(255, 255, 255, 0.8) inset, 0 1px 2px rgba(0, 0, 0, 0.1));
                    }
                }
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
                #wrapper {
                    .dd-container{
                        .dd-selected-text{
                            span{
                                &::before{
                                    position: relative;
                                    top: 0px;
                                    padding: 0px;
                                    margin: 0px; 
                                }
                            }
                        }
                    }
                    
                }
                #primary {
                    width: 100%;
                }
                #secondary {
                    width: 100%;
                }
                #secondary-2 {
                    width: 100%;
                }
            }

            #wrapper .dd-container label,
            #wrapper .dd-container a {
                color: #888;
            }

            #wrapper {
                .dd-options{
                    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
                    border: 1px solid #E8E8E8;
                    border-bottom: 0;
                    position: relative;
                    margin-bottom: 10px;
                    li{
                        float: none;
                        height: auto;
                        padding: 0;
                        line-height: normal;
                        border-bottom: 1px solid #E8E8E8;
                        text-align: left;
                        a{
                            border: 0;
                            float: none;
                            height: auto;
                            margin: 0;
                            padding: 10px;
                            line-height: normal;
                            color: #333; 
                        }
                    }
                }
            }

            #wrapper .dd-options li a:hover,
            #wrapper .dd-options li.dd-option-selected a {
                background-color: #fbfbfb;
                color: #333;
            }

            #wrapper {
                .dd-options{
                    font-weight: normal;
                    font-size: 20px;
                    li{
                        &:first-child{
                           display: none;
                        }
                    }
                }
            }

            .nav .dd-container, 
            .woocommerce-menu .dd-container {
                max-width: 100%;
                display: none;
            }

            @media only screen and (max-width: 768px) {                
                body #header.sticky-header,
                body #header.sticky-header.sticky {
                    display: none !important;
                }
                .padding-l {
                    padding: 0;
                }
                .nav-holder ul,
                .woocommerce-menu-holder ul li.my-account,
                .woocommerce-menu-holder ul li.cart {
                    display: none;
                }
                .header {
                    .woocommerce-menu{
                        float: none;
                        margin-right: 0;
                        li{
                           background-image: none;
                        }
                        .dd-options{
                            li{
                                a{
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
                #wrapper {
                    .woocommerce-menu{
                        .dd-options{
                            width: 100%;
                        }
                    }
                }
                .anythingSlider {
                    width: 500px;
                }
                .nav-holder .dd-container,
                .woocommerce-menu .dd-container {
                    display: block;
                    width: 100%;
                }
                .menu-header {
                    #search-text-box{
                        display: block;
                        margin: 10px auto;
                        width: 100%;    
                    }
                }
                #search-text-top {
                    text-indent: 1px;
                    width: 170px;
                    display: block;
                    margin-right: 0;
                }
                #logo-image {
                    float: none;
                    margin: 10px 0;
                }
                .sc_menu {
                    li{
                        float: none;    
                    }
                }
                .custom-header {
                    width: 100%;
                }
                #secondary,
                #secondary-2 {
                    clear: both;
                }
            }



/* ======================== Footer ======================== */
        .footer {
            position: relative;
            color: #000;
            padding: 20px 0;
            small{
                color: rgba(0, 0, 0, 0.4);
            }
            a{
               color: #51545C;
               &:hover{
                    color: #000;
                    text-decoration: none;
               } 
            }
        }
        p#copyright {
            font-size: 15px;
            text-align: center;
            .credits{
                font-size: 11px;
                color: rgba(0, 0, 0, .3);
                a{
                    font-size: 11px;
                    color: rgba(0, 0, 0, .5);  
                }
            }
        }



/* ======================== Search ======================== */
        .searchform {
            clear: right;
            position: relative;
            z-index: 0;
            margin: 2px 0 0;
        }
        #search-text-box {
            top: 3px;
            float: right;
        }
        .widget-content {
            #search-text-box{
                float: none;
                width: 100%;
            }
            #search-text{
               max-width: 100%;
            }
        }
        .widget-content #search-text,
        .widget-content #search-text-top:focus,
        #search-text-box #search_label {
            width: 100%;
        }
        .widget-content {
            #search-button{
                top: -5px;
                right: 0px; 
            }
        }
        #search-text,
        #search-text-top:focus,
        #search-stickyfix:focus {
            @include box-shadow(1px 1px 0px rgba(255, 255, 255, .9));
            @include box-shadow(3px);
            border: 1px solid rgba(0, 0, 0, .1);
            font-size: 12px;
            position: relative;
            float: left;
            width: 170px;
            z-index: 0;
            background: rgba(255, 255, 255, .7);
            font-weight: normal;
            position: relative;
            left: 0px;
            height: 35px;
            padding: 5px 40px 5px 7px;
        }
        #search-text {
            &:focus{
                @include box-shadow(0 0 15px rgba(255, 255, 255, .8));
            }
        }
        #search-text-top {
            float: right;
            margin-right: 10px;
            @include transition(all 0.5s ease);
            text-indent: -9999px;
            width: 25px;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 35px;
            position: relative;
            border-color: transparent;
            @include box-shadow(none);
            background: none;
            background-color: transparent;
            border-color: transparent;
            &:focus{
                text-indent: 1px;
                background-color: #fff;
                color: #888;
                border: 1px solid rgba(0, 0, 0, .1);
            }
        }
        #search-text-box {
            #search_label_top{
                &:after{
                    cursor: pointer;
                    content: '\e91e';
                    font-family: "IcoMoon";
                    position: absolute;
                    font-weight: normal;
                    right: 25px;
                    top: 25%;
                    width: 5px;
                    font-size: 12px;
                }
            }
        }
        #search-button-box {
            position: absolute;
            right: 5px;
            z-index: 99;
        }
        #search-button {
            @include box-shadow(none);
            font-weight: normal;
            text-transform: uppercase;
            left: 0px;
            top: 0px;
            position: relative;
            z-index: 99;
            height: 35px;
            padding: 0;
            width: 30px;
            border: none;
            background: none;
            filter: none;
            &::after{
                cursor: pointer;
                content: '\e91e';
                font-family: "IcoMoon";
                position: absolute;
                font-weight: normal;
                right: 5px;
                top: 0;
                font-size: 16px;
                line-height: 43px;
                color: #aaa;
                text-shadow: none;
            }
        }
        #search-text-box #search_label,
        #search-text-box #search_label_top {
            float: left;
            height: 24px;
            margin: 0 0 10px 0;
            position: relative;
            z-index: 12;
        }
        #search-text-box #search_label_top {
            top: 6px;
            height: 40px;
            margin-bottom: 0;
        }
        #search-text-box #search_label span,
        #search-text-box #search_label_top span {
            color: #aaa;
            left: -3px;
            cursor: text;
            display: block;
            font-size: 13px;
            height: 40px;
            margin-bottom: -40px;
            top: 10px;
            padding: 0 12px;
            position: relative;
            z-index: 10;
        }
        .stickysearchform {
            position: relative;
            z-index: 0;
            float: right;
            margin-bottom: 0px;
        }
        #stickysearch-text-box,
        #stickysearch_label {
            margin: 0px 0px;
            width: 25px;
            height: 35px;
            float: right;
        }
        #stickysearch_label {
            position: relative;
            z-index: 12;
            top: 9px;
        }
        #stickysearch-text-box{
        	#stickysearch_label{
        		&::after{
					cursor: pointer;
					content: '\e91e';
					font-family: IcoMoon;
					position: absolute;
					font-weight: normal;
					right: 25px;
					top: 25%;
					width: 5px;
					font-size: 12px;
        		}
        	}
        }
        #search-stickyfix {
            right: 0;
            margin-right: 10px;
            text-indent: -9999px;
            padding-top: 5px;
            padding-bottom: 5px;
            width: 25px;
            height: 35px;
            border-color: transparent;
            background: none;
            position: absolute;
            float: right;
            background-color: transparent;
            border-color: transparent;
            @include box-shadow(none);
            @include transition(all 0.5s ease);
            &:focus{
                right: 0px;
                text-indent: 1px;
                position: absolute;
                left: initial;
                background-color: #fff;
                color: #888;
                border: 1px solid rgba(0, 0, 0, .1);
                @include box-shadow(none);  
            }
        }


/*!==========================================================================
   Home
   ========================================================================== */


/* ======================== Bootstrap Slider ======================== */
        #bootstrap-slider{
        	.carousel-caption {
        		padding-top: 0;
        		text-align: left;
        		h2{
        		    background: rgba(0, 0, 0, 0.7);
        		    padding: 15px 25px;
        		    margin-top: 0;
        		}
        		p{
        		    padding: 15px 25px;
        		}
        		.bootstrap-button {
        		    background: rgba(0, 0, 0, .7);
        		    border: 0;
        		    @include box-shadow(none);
        		    bottom: -5px;
        		    position: relative;
        		    line-height: 41px;
            		padding: 0 25px;
            		display:inline-block;
            		text-decoration: none;
        		}
        	}
            .carousel-control{
                z-index: 11;
                top: auto;
                right: auto;
                width: auto;
                background: none;
            }
            img{
                margin: 0px auto;
            }
        }
        #bootstrap-slider a.left:before,
        #bootstrap-slider a.right:before {
            font-family: "IcoMoon";
            content: '\e918';
            width: 40px;
            height: 40px;
            display: block;
            line-height: 40px;
            font-size: 20px;
            background: #636363;
            background: rgba(0, 0, 0, .7);
        }
        #bootstrap-slider a.right:before {
            content: '\e919';
        }



/* ======================== Four Blocks ======================== */
        .home-content-boxes{
            margin: 0 0 25px;
            overflow:hidden;
            .row {
                padding: 0 15px;
                display: flex;
                flex-wrap: wrap;
            }
            .content-box{
                text-align: center;
                i{
                    font-size: 50px;
                    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
                }
                h2{
                    padding: 5px 0;
                }
            }
            .cntbox_btn {
                height: 100%;
                left: 0;
                margin: 0 auto;
                position: absolute;
                text-align: center;
                top: -30px;
                width: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                display: -webkit-flex;
                -webkit-align-items: flex-end;
                -webkit-justify-content: center;
            }
        }



/* ======================== Home Content Boxes ======================== */
        .home-content-boxes {
            width: 100%;
            clear: both;
            margin: 0 0 25px;
            float: left;
            .row{
                padding: 0 15px;
            }
        }

        .content-box {
            text-align: center;
            margin-bottom: 25px;
            h2{
                color: #6b6b6b;
            }
            i{
                font-size: 50px;
                text-shadow: rgba(0, 0, 0, .05) 3px 3px 0; 
            }
            p{
                color: #888;
                margin: 25px 0;
                font-size: 140%;  
            }
            img{
                margin: 0 auto;
                width: 100%;  
            }
        }

        @media (min-width: 992px) {
            .cntbox_btn {
                text-align: center;
                margin: 0 auto;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                position: absolute;
                top: -30px;
                left: 0px;
                height: 100%;
                width: 100%;
                align-items: flex-end;
                -webkit-align-items: flex-end;
                justify-content: center;
                a{
                    position: initial;
                }
            }
        }

        @media (max-width: 991px) and (min-width: 768px) {
            .cntbox_btn {
                text-align: center;
                margin: 0 auto;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                position: absolute;
                top: -30px;
                left: 0px;
                height: 100%;
                width: 100%;
                align-items: flex-end;
                -webkit-align-items: flex-end;
                justify-content: center;
                a{
                    position: initial;
                }
            }
        }

        @media (min-width: 768px) {
            .home-content-boxes .row {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-wrap: wrap;
            }
            .home-content-boxes [class*="col-"] {
                display: flex;
                flex-direction: column;
                display: -webkit-flex;
                -webkit-flex-direction: column;
            }
        }

        @media (max-width: 991px) {
            .home .odd1,
            .archive .odd1,
            .search .odd1,
            .blog .odd1,
            .page-template-blog-page-php .odd1 {
                clear: both;
            }
        }



/* ======================== Basic 2 column (content)(aside) fixed layout ======================== */
		.footer {
		    clear: both;
		}

		.alignleft {
		    float: left;
		    margin: 5px 20px 10px 0;
		}

		.alignright {
		    float: right;
		    margin: 5px 0 10px 20px;
		}

		.aligncenter {
		    margin: 5px auto 10px auto;
		    display: block;
		    clear: both;
		}

		.widget.carousel-slider a.left:before,
		.widget.carousel-slider a.right:before {
		    font-family: "IcoMoon";
		    content: '\e918';
		    position: absolute;
		    left: 0;
		    top: 50%;
		    margin-top: -20px;
		    width: 40px;
		    height: 40px;
		    display: block;
		    line-height: 40px;
		    font-size: 20px;
		    background: #636363;
		    background: rgba(0, 0, 0, .7);
		    color: #fff;
		}

		.widget.carousel-slider {
		    a.right{
		        &::before{
		            content: '\e919';
		            right: 0;
		            left: auto;
		        }
		    }
		}

		@media only screen and (max-width: 540px) {
		    #bootstrap-slider{
                .layout-right{
                    padding-bottom: 0px;
                }
                .carousel-caption{
                    left: 20px;
                    right: 20px;
                    .bootstrap-button{
                        padding: 0px 10px;
                    }
                    h2{
                        font-size: 100%;
                    }
                    p{
                        display: none;
                    }
                    .bootstrap-button{
                        display: none;
                    }
                }
            }
		}

		@media only screen and (max-width: 360px) {
		    #bootstrap-slider {
		        .carousel-caption{
		            h2{
		                font-size: 80%;
		            }
		        }
		    }
		    .da-slider .da-link p {
		        max-height: 100px;
		        overflow: hidden;
		    }
		}

		@media (max-width: 768px) {
                    body #header.sticky-header,
		    body #header.sticky-header.sticky {
		        display: none !important;
		    }
		    .padding-l {
		        padding: 0;
		    }
		    .nav-holder {
		        ul{
		            display: none;    
		        }
		    }
		    .anythingSlider {
		        width: 500px;
		    }
		    .nav-holder {
		        .dd-container{
		            display: block;
		            width: 100%;    
		        }
		    }
		    .menu-header {
		        #search-text-box{
		            display: block;
		            margin: 10px auto;
		            width: 100%;  
		        }
		    }
		    #search-text-top {
		        text-indent: 1px;
		        width: 170px;
		        display: block;
		        margin-right: 0;
		    }
		    #search-text-box {
		        #search_label_top{
                    top: 0;
                    height: 36px;
		            float: none;
		            margin: 0 auto;
		            display: block;
		            width: 170px;
		        }
		    }
		    #righttopcolumn,
		    #social,
		    .header a,
		    #tagline,
		    #logo {
		        float: none;
		        display: inline-block;
		        width: 100%;
		        text-align: center;
		    }
		    #logo {
		        margin: 0;
		    }
		    #logo-image {
		        float: none;
		        margin: 10px 0;
		        display: inline-block;
		    }
		    .sc_menu {
		        li{
		           float: none; 
		       }
		    }
		    .custom-header {
		        width: 100%;
		    }
		    #secondary,
		    #secondary-2 {
		        clear: both;
		    }
		    .header{
		        #righttopcolumn{
		            width:100%;
		            text-align:center;
		            overflow: hidden;
		            .sc_menu{
		                float:none;
		                li{
		                    float:none;
		                }
		            }
		        }
		        #social{
		            width:100%;
		            text-align:center;
		            overflow: hidden;
		        }        
		    }
		    .title-container{
		        #tagline{
		            margin-top:-25px;
		        }
		    }
		}

		@media only screen and (max-width: 1190px) {
		    .home-content-boxes .content-box h2 {
		        font-size: 23px;
		    }
		}

		@media only screen and (min-width: 769px) {
		    /* Menu Effect : bottom line slides/fades in */
		    .link-effect {
		    	a{
					overflow: hidden;
					padding: 8px 10px;
					line-height: 2.5em;
					display: inline-block;
					span{
						position: relative;
						display: inline-block;
						@include transition(-webkit-transform 0.3s);
                        @include transform(translate(0px, 0px));
						&::before{
							position: absolute;
							top: 100%;
							height: 100%;
							width: 110%;
							content: attr(data-hover);
							@include transition(translate3d(0, 0, 0));
						}
					}
		    	}
		    }
		    .link-effect .sub-menu a,
		    #wrapper .primary-menu .link-effect .sub-menu a {
		        padding: 4px 10px;
		        height: auto;
		        line-height: 1.9em;
		    }
		    .link-effect .sub-menu a span {
		        display: block;
		    }
		}
		.no_thumbnail {
		    display: none!important;
		}



/*!==========================================================================
   Style
   ========================================================================== */


/* ======================== Infinite Scroll ======================== */
		.ias-trigger,
		.ias-spinner,
		.ias-noneleft {
		    clear: both;
		}

		.ias-spinner {
		    margin-bottom: 40px;
		    text-align: center;
		}

		.ias-spinner .t4p-icon-repeat {
		    font-size: 35px;
		    color: #aaa;
		    display: inline-block;
		}

		.infinite-rotation-icon {
		    @include animation(spin 1s infinite linear);
		    filter: blur(0);
		}

		@keyframes spin {
		    0% {
		        transform: rotate(0deg);
		    }
		    100% {
		        transform: rotate(359deg);
		    }
		}

		@-webkit-keyframes spin {
		    0% {
		        -webkit-transform: rotate(0deg);
		    }
		    100% {
		        -webkit-transform: rotate(359deg);
		    }
		}

		@-moz-keyframes spin {
		    0% {
		        -moz-transform: rotate(0deg);
		    }
		    100% {
		        -moz-transform: rotate(359deg);
		    }
		}

		@-ms-keyframes spin {
		    0% {
		        -ms-transform: rotate(0deg);
		    }
		    100% {
		        -ms-transform: rotate(359deg);
		    }
		}

		@-o-keyframes spin {
		    0% {
		        -o-transform: rotate(0deg);
		    }
		    100% {
		        -o-transform: rotate(359deg);
		    }
		}



/* ======================== reCaptcha ======================== */
	.recaptchatable * {
	    font-size: 6pt;
	}
	#comment-recaptcha {
	    margin-bottom: 20px;
	}



/* ======================== WPML Plugin style ======================== */
		ul.nav-menu {
			li.menu-item-language{
				position: relative;
				ul{
					left: 0;
					width: 14em;
				}
			}
		}
		.submenu-languages {
			.menu-item-language{
				a{
					span{
						display: inline-block;			
					}
				}
			}
		}
		.menu-item-language{
			a{
				&::after{
					left: 3px;		
				}
			}
		}
		#lang_sel {
			ul{
				list-style-image: none;	
			}
		}




/* ======================== Index number pagination ======================== */
		.page-navigation {
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;	
			}
		}

		.page-navigation {
			li{
				display: inline;
			}
		}

		a.page-numbers,
		span.page-numbers {
		    padding: 3px 8px;
		    margin: 0px 2px;
		    color: #BFBFBF;
		}

		a:hover.page-numbers {
		    color: #333;
		}

		.page-navigation {
			.current{
				color: #999;
				font-weight: bold;
				margin: 0px 2px;
				background: #F6F6F6 none repeat scroll 0% 0%;
				text-decoration: none;
				padding: 3px 8px;
			}
		}

		.pagination {
			.current{
				color: #999;
				font-weight: bold;
				margin-left: 5px;
				background: #F6F6F6 none repeat scroll 0% 0%;
				text-decoration: none;
				padding: 4px 10px;
				border: 1px solid #E0DDDD;
			}
		}

		.number-pagination {
		    text-align: center;
		}



/* ======================== Links ======================== */
		a,
		.entry-content a:link,
		.entry-content a:active,
		.entry-content a:visited {
		    color: #0bb697;
		    text-decoration: none!important;
		}

		a:hover {
		    text-decoration: underline;
		}

		#secondary,
		#secondary-2 {
		    position: relative;
		    z-index: 0;
		}

		#secondary a,
		#secondary-2 a,
		.footer-widgets a,
		.header-widgets a {
            word-wrap: break-word;
		    line-height: 1.8;
		    color: #666;
		    padding: 3px 0;
		    @include transition(all 0.5s ease 0s);
		}

		#secondary a:hover,
		#secondary-2 a:hover,
		.footer-widgets a:hover,
		.header-widgets a:hover {
		    color: #7a9cad;
		    text-decoration: none;
		    padding-left: 5px;
		}

		#secondary .img-holder a:hover,
		#secondary-2 .img-holder a:hover,
		#secondary .flickr_badge_image a:hover,
		#secondary-2 .flickr_badge_image a:hover,
		.footer-widgets .img-holder a:hover,
		.header-widgets .img-holder a:hover,
		.footer-widgets .flickr_badge_image a:hover,
		.header-widgets .flickr_badge_image a:hover {
		    padding-left: 0;
		}

		#secondary .tagcloud a:hover,
		#secondary-2 .tagcloud a:hover,
		.footer-widgets .tagcloud a:hover,
		.header-widgets .tagcloud a:hover {
		    padding-right: 5px;
		}

		.entry-content a:hover {
		    text-decoration: none;
		}



/* ======================== Calendar ======================== */
		#wp-calendar {
		    margin-bottom: 0px;
		    width: 100%;
		    caption {
		        margin-bottom: 10px;
		        font-size: 12px;
		        text-align: right;
		    }
		    th,
		    tbody tr td {
		        padding: 8px 3px;
		        text-align: center;
		    }
		    tfoot tr td {
		        text-align: center;
		    }
		    thead {
		        background: none;
		    }
		    td {
		        border-right: 1px solid #fff;
		        color: #aaa;
		        border-top: 1px solid #fff;
		    }
		}



/* ======================== Back to Top Button ======================== */
		#backtotop {
		    display: none;
		    z-index: 9999;
		    position: fixed;
		    top: 100%;
		    margin-top: -60px;
		    opacity: .9;
		    margin-left: -20px;
		    background: #444;
		    height: 40px;
		    width: 40px;
		    &::after{
				content: '\e91a';
				font-family: IcoMoon;
				position: absolute;
				font-weight: normal;
				left: 0;
				top: 0;
				width: 40px;
				text-align: center;
				font-size: 15px;
				line-height: 40px;
				color: #f1f1f1;
		    }
		    a{
				font-size: 12px;
				color: #fff;
				padding: 5px 8px;
				display: block;
				&:hover{
					text-decoration: none;
		    		opacity: 1;
				}
		    }
		    .top-icon{
		    	padding-left: 18px;
		    }
		}




/* ==========================================================================
   TABS
   ========================================================================== */
   		#secondary .tab-holder .tabs li a,
   		#secondary-2 .tab-holder .tabs li a,
   		.footer-widgets .tab-holder .tabs li a,
   		.header-widgets .tab-holder .tabs li a{
			line-height: 48px;
			padding: 0px 10px 0px 10px;
   		}
		.tab-holder {
			.tabs{
				height: 49px;
				list-style: none;
				margin: 0;
				padding: 0;
				display: table;
				overflow: hidden;
				li{
					margin: 0;
					padding: 0;
					display: table-cell;
					width: 1%;
					a{
						line-height: 48px;
						text-indent: 0;
						color: #999;
						background: rgba(255, 255, 255, .3);
						padding: 0px 10px 0px 10px;
						position: relative;
						display: block;
						text-align: center;
						border: 1px solid rgba(0, 0, 0, .1);
						border-right-color: transparent;
						z-index: 2;
						@include box-shadow(1px 1px 0 rgba(255, 255, 255, 0.9) inset);
					}
					&:last-child{
						border-right: 1px solid #E0DDDD;
					}
				}
				li.active{
					a{
						color: #51545C;
						background: #f6f6f6;
						border: 1px solid #E0DDDD;
						border-right: 1px solid transparent;
						border-bottom: 1px solid #f6f6f6;
						font-weight: bold;
						text-decoration: none;
						top: 0px;
						@include transition(none);
					}
				}
			}
		}
		.widget .tab-holder .tabs li.active a {
		    bottom: -1px;
		}
		.tab-holder {
			.tabs-container{
				position: relative;
				z-index: 0;
				background: #f6f6f6;
				border: 1px solid #E0DDDD;
				border-top: 0;	
			}
			.news-list{
				list-style: none;
				margin: 0;
				padding: 0;
				clear: both;
				img{
					margin: 0 0 0px 20px;
					background: none repeat scroll 0 0 #FFFFFF;
					border: 1px solid #F1F1F1;
					@include box-shadow(none);
					padding: 4px;
					width: 60px;
					height: auto;
				}
				li{
					border-bottom: 1px solid #F0F0F0;
					padding: 15px 0 10px 0px;
					overflow: hidden;
					@include box-shadow(1px 1px 0 rgba(255, 255, 255, 0.9) inset);
				}
			}
		}
		.tab-holder .news-list li:nth-child(even) {
		    background: rgba(255, 255, 255, .6);
		}

		.tab-holder .news-list li a,
		#secondary .tab-holder .news-list li a,
		#secondary-2 .tab-holder .news-list li a,
		.footer-widgets .tab-holder .news-list li a,
		.header-widgets .tab-holder .news-list li a {
		    background: none;
		    padding: 0;
		}

		.tab-holder {
			.news-list {
				li {
					&:last-child {
						border-bottom: 0;
					}
					.image{
						float: left;
					}
					.post-holder{
						float: left;
						width: 60%;
						margin-left: 20px;
						p{
							margin: 0;
							margin-bottom: 5px;
						}
					}
				}
				.post-holder{
					a{
						margin: 0;
						padding: 0;
						overflow: hidden;
						background: none;
						border: 0;
						text-indent: 0;
						height: auto;
						line-height: normal;
					}
				}
			}
		}
		#secondary .news-list li .post-holder a,
		#secondary-2 .news-list li .post-holder a,
		.footer-widgets .news-list li .post-holder a,
		.header-widgets .news-list li .post-holder a,
		.tab-holder .news-list li .post-holder a {
		    color: #51545C;
		    font-size: 14px;
		    line-height: 17px;
		    font-weight: bold;
		}
		.tab-holder {
			.news-list{
				li{
					.post-holder{
						.meta{
							margin: 0;
							margin-top: 2px;
							font-size: 12px;
							color: #747474 !important;
							em{
								font-style: normal;
								font-size: 12px;
								color: #747474;
							}
						}
						.comment-text-side{
							line-height: 16px;
						}
					}
				}
			}
		}


/* ======================== Subscribe/Follow Buttons ======================== */
		.sc {
		    margin: 15px 0 5px 0;
		}
		.nosl {
		    float: none;
		    display: inline-block;
		    width: auto;
		    padding-top: 10px;
		}
		#rss,
		#email-newsletter,
		#facebook,
		#twitter,
		#instagram,
		#skype,
		#youtube,
		#flickr,
		#linkedin,
		#plus,
		#pinterest,
		#tumblr {
		    color: #999;
		    display: block;
		    margin: 0px 5px;
		}
		.sc_menu {
		    padding: 0;
		    margin: 0;
		    float: right;
		}
		.sc_menu li {
		    display: inline-block;
		    padding: 0;
		    float: left;
		    padding-bottom: 5px;
		}
		.sc_menu li a {
		    display: inline-block;
		    margin: 0 5px;
		    padding: 5px;
		    line-height: 0;
		}
		.share-this {
		    float: right;
		    padding: 10px 0 14px 0;
		    strong{
				font-size: 11px;
				color: #777;
				margin-right: 5px;
				padding: 5px 6px;
				border: none;
				@include border-radius(3px);
				@include box-shadow(none);
				background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
		    }
		    &:hover{
		    	strong{color: #111;}
		    }
		    a{
				text-transform: uppercase;
				color: #bfbfbf;
				font-size: 16px;
				padding: 5px 8px;
				font-weight: bold;
				&:hover{
					color: #333;
		    		text-decoration: none;
				}
		    }
		}
		.more-options {
		    position: relative;
		    top: 0px;
		    left: 8px;
		}



/* ======================== Animate ======================== */
		.animated {
			-webkit-animation-fill-mode: both;
		    -moz-animation-fill-mode: both;
		    -ms-animation-fill-mode: both;
		    -o-animation-fill-mode: both;
		    animation-fill-mode: both;
		    @include animation-duration(0.5s);
		}

		.animated.hinge {
			@include animation-duration(0.5s);
		}

		@-webkit-keyframes pulse {
		    0% {
		        -webkit-transform: scale(1);
		    }
		    50% {
		        -webkit-transform: scale(1.1);
		    }
		    100% {
		        -webkit-transform: scale(1);
		    }
		}

		@-moz-keyframes pulse {
		    0% {
		        -moz-transform: scale(1);
		    }
		    50% {
		        -moz-transform: scale(1.1);
		    }
		    100% {
		        -moz-transform: scale(1);
		    }
		}

		@-o-keyframes pulse {
		    0% {
		        -o-transform: scale(1);
		    }
		    50% {
		        -o-transform: scale(1.1);
		    }
		    100% {
		        -o-transform: scale(1);
		    }
		}

		@keyframes pulse {
		    0% {
		        transform: scale(1);
		    }
		    50% {
		        transform: scale(1.1);
		    }
		    100% {
		        transform: scale(1);
		    }
		}

		.pulse {
		    -webkit-animation-name: pulse;
		    -moz-animation-name: pulse;
		    -o-animation-name: pulse;
		    animation-name: pulse;
		}



/* ======================== Tipsy ======================== */
		.tipsy {
		    padding: 8px;
		    line-height: 12px;
		    font-size: 11px;
		    position: absolute;
		    z-index: 99999;
		    small{
				color: #777;
		    }
		}
		.tipsy-inner {
		    color: #fff;
		    @include border-radius(3px);
		    background: #333;
		    margin-top: 2px;
		    padding: 10px;
		    max-width: 200px;
		    text-align: center;
		}
		.tipsy-n .tipsy-arrow {
		    top: 0px;
		    left: 50%;
		    margin-left: -8px;
		}
		.tipsy-s .tipsy-arrow {
		    bottom: -2px;
		    left: 50%;
		    margin-left: -8px;
		    background-position: bottom left;
		}
		.tipsy-e .tipsy-arrow {
		    top: 50%;
		    margin-top: -4px;
		    right: 0;
		    width: 5px;
		    height: 9px;
		    background-position: top right;
		}
		.tipsy-w .tipsy-arrow {
		    top: 50%;
		    margin-top: -4px;
		    left: 0;
		    width: 5px;
		    height: 9px;
		}



/* ======================== Sticky header search box ======================== */
		#comment-name_label,
		#comment-email_label,
		#comment-url_label,
		#comment-text_label {
		    display: block;
		    margin: 0 6px 10px 0;
		    _margin-right: 0;
		    position: relative;
		    z-index: 12;
		}

		#comment-name_label,
		#comment-email_label,
		#comment-url_label {
		    height: 31px !important;
		}

		#comment-name_label span,
		#comment-email_label span,
		#comment-url_label span,
		#comment-text_label span {
		    color: #444444;
		    cursor: text;
		    display: block;
		    font-size: 13px;
		    font-weight: bold;
		    height: 32px;
		    margin-bottom: -32px;
		    top: 2px;
		    width: 100%;
		    padding: 0 4px;
		    position: relative;
		    z-index: 10;
		}

		#comment-text_label {
			span{
				top: 11px;
				padding: 0 11px;
				font-size: 18px;	
			}
		}

		@media (max-width: 1000px){
		    .container{
		        width:100%;
		    }
		    .title-container {
		    	#tagline{
		    		margin-top: 0;
		    	}
		    }
		}

		@media (max-width: 1000px){
		    .home-content-boxes{
		        .content-box{
		            width:100%;
		        }
		    }
		    .home .type-post .entry-footer, 
		    .archive .type-post .entry-footer, 
		    .search .type-post .entry-footer, 
		    .page-template-blog-page-php .type-post .entry-footer{
		        float:none !important;
		    }
		}

		.published {
		    font-size: 13px;
		    line-height: 13px;
		    text-align: center;
		    padding: 0px 10px 0 0;
		    margin-right: 10px;
		    border-right: 1px solid rgba(0, 0, 0, .1);
		}

		.aside {
		    padding: 0 15px!important;
		}

		.aside,
		.aside a {
		    font-size: 13px;
		}

		a,
		a:focus,
		a:hover,
		a:link {
		    outline: none!important;
		    @include transition(all 0.1s ease-in);
		}

		.tab-holder .tabs li a,
		.da-slide .da-link {
			@include transition(none);
		}

		.author.vcard .avatar {
		    float: left;
		    margin: 0;
		    position: relative;
		    top: -7px;
		    left: -5px;
		    padding: 0;
		    margin-right: 5px;
		}

		.entry-meta {
		    margin-bottom: 10px;
		    font-size: 13px;
		    line-height: 20px;
		}

		.entry-meta .meta-sep {
		    margin: 0 5px;
		}

		.entry-header {
		    color: #ccc;
		    clear: both;
		    margin: 0;
		    padding: 0;
		}

		.entry-header a {
		    color: #ccc;
		}

		.entry-header .comment-count a {
		    color: #777;
		}

		.entry-footer {
		    font-size: 13px;
		    clear: both;
		    margin: 20px 0;
		    color: #ccc;
		}

		.odd0 .entry-footer,
		.odd1 .entry-footer,
		.odd2 .entry-footer {
		    background: none;
		}

		.blog .odd0 {
		    clear: both;
		}

		.archive .odd0 {
		    clear: both;
		}

		.entry-footer a {
		    color: #ccc;
		}

		.entry-footer a:hover {
		    text-decoration: none;
		    border-bottom-color: #333;
		    color: #333;
		}

		.edit-comment {
		    visibility: hidden;
		    font-size: 12px;
		}

		.edit-comment a {
		    margin-left: 25px;
		}

		.edit-comment a:before {
		    font-family: "IcoMoon";
		    content: '\e902';
		    margin-right: 5px;
		}

		.edit-post,
		.edit-page {
		    visibility: hidden;
		}

		.edit-post a.post-edit-link,
		.edit-page a.post-edit-link {
		    margin-left: 10px;
		    font-size: 12px;
		    color: #CCC;
		    text-transform: uppercase;
		}

		a.post-edit-link:before {
		    font-family: "IcoMoon";
		    content: '\e902';
		    margin-right: 5px;
		}

		.formatted-post {
		    position: relative;
		    padding-left: 15px;
		    padding-right: 15px;
		}

		.home .formatted-post,
		.page-template-blog-page-php .formatted-post {
		    margin-bottom: 0;
		}

		.margin-40,
		.home .formatted-single,
		.page-template-blog-page-php .formatted-single {
		    margin-bottom: 20px;
		}


/* ==========================================================================
   Responsive
   ========================================================================== */

        @media screen and (max-width: 782px) {
            html #wpadminbar {
                position: fixed!important;
            }
        }
        @media screen and (max-width: 768px) {
            #bootstrap-slider {
                .carousel-caption{
                    bottom: auto !important;
                    top: 20px;
                    h2{
                        padding: 15px;
                    }
                }
            }
        }
            
        @media screen and (max-width: 767px) {
            .sc_menu li{
                float: none;
            }
            #wrapper{
                .primary-menu{
                    .link-effect{
                        .dd-select{
                            a{
                                text-align: center;
                            }
                        }
                    }
                    label{
                        margin: 0;
                    }
                }
            }
            .container-menu{
                padding-bottom: 0;
            }
            .header_v0 .container,
            .header_v0 .nacked-menu,
            .header_v0 .container-menu{
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .da-slide {
                padding: 20px;
                h2{
                    margin-bottom: 15px;
                    padding: 0;
                    width: calc(100% - 35%);
                }
                p{
                    margin-bottom: 20px;
                    width: calc(100% - 35%);
                }
                .da-link{
                    top: auto;
                    bottom: 0;
                }
                .da-img{
                    height: auto;
                    line-height: 1;
                }
            }
            
            .da-slide h2,
            .da-slide p,
            .da-slide .da-link{
                position: static;
            }
                
            input[type="submit"],
            button,
            .button,
            .bootstrap-button,
            input#submit,
            .da-slide .da-link,
            span.more a,
            a.read-more,
            .entry-content a.t4p-button-default {
                line-height: 1;
                padding: 10px 16px;
            }


            #bootstrap-slider{
                a.left{
                    &::before{
                        font-size: 12px;
                        height: 30px;
                        line-height: 30px;
                        width: 30px;
                    }
                }
                a.right{
                    &::before{
                        font-size: 12px;
                        height: 30px;
                        line-height: 30px;
                        width: 30px; 
                    }
                }
                .carousel-caption{
                    p{
                        padding: 10px 15px;
                        margin-bottom: 0;          
                    }
                    .bootstrap-button{
                        line-height: 34px;
                        padding: 0 20px;
                    }
                }
                .right.carousel-control{
                    left: 50px;
                }
                .carousel-control{
                    left: 20px;
                }
            }
            .carousel-caption.layout-left {
                left: auto !important;
                right: auto !important;
                margin: auto !important;
                padding-left: 20px;
                padding-right: 20px;
                width: 100%;

                /* 
                    IMPORTANT REASON
                    For custom-css.php
                */
            }

        }

        @media (max-width: 450px) {
            #bootstrap-slider {
                .carousel-caption{
                    p{
                        display: none;        
                    }
                }
            }
        }