*,*:after, *:before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 

#contenedor_carga{
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 3s ease;
    -o-trasition: all 3s ease;
    transition: all 3s ease;
    z-index: 10000;
    
}

#carga{
    border: 15px solid #ccc;
    border-top-color: #F4266A;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
    -webkit-animation: girar 3s linear infinite;
    -0-animation: girar 3s linear infinite;
    animation: girar 3s linear infinite;
    
}

@keyframes girar{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
    
}