.so-widget-sow-image-default-eef982a7180b .sow-image-container {
  text-align: center;
}
.so-widget-sow-image-default-eef982a7180b .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  width: inherit;
  height: auto;
}