.so-widget-sow-image-default-1c389ca87c1a .sow-image-container {
  text-align: center;
}
.so-widget-sow-image-default-1c389ca87c1a .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  
  height: auto;
}