.so-widget-sow-image-default-bc52321e3400 .sow-image-container {
  text-align: right;
}
.so-widget-sow-image-default-bc52321e3400 .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
}