@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?1bn9yo');
    src:    url('icomoon.eot?1bn9yo#iefix') format('embedded-opentype'),
        url('icomoon.ttf?1bn9yo') format('truetype'),
        url('icomoon.woff?1bn9yo') format('woff'),
        url('icomoon.svg?1bn9yo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="t4p-icon-"],
[class*=" t4p-icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.t4p-icon-file:before {
    content: "\e600";
}

.t4p-icon-file2:before {
    content: "\e601";
}

.t4p-icon-file3:before {
    content: "\e602";
}

.t4p-icon-file4:before {
    content: "\e603";
}

.t4p-icon-appbarcart:before {
    content: "\e606";
}

.t4p-icon-appbarclipboardvariantedit:before {
    content: "\e607";
}

.t4p-icon-appbardrawbrush:before {
    content: "\e608";
}

.t4p-icon-appbardrawbutton:before {
    content: "\e609";
}

.t4p-icon-appbardrawpaintbrush:before {
    content: "\e60a";
}

.t4p-icon-appbargroup:before {
    content: "\e60b";
}

.t4p-icon-appbarheart:before {
    content: "\e60c";
}

.t4p-icon-appbarhome:before {
    content: "\e60d";
}

.t4p-icon-appbarchevrondown:before {
    content: "\e60e";
}

.t4p-icon-appbarimagebacklight:before {
    content: "\e605";
}

.t4p-icon-appbarimagemultiple:before {
    content: "\e60f";
}

.t4p-icon-appbarimageselect:before {
    content: "\e620";
}

.t4p-icon-appbarinbox:before {
    content: "\e610";
}

.t4p-icon-appbarlayer:before {
    content: "\e621";
}

.t4p-icon-appbarlifesaver:before {
    content: "\e611";
}

.t4p-icon-appbarlineshorizontal4:before {
    content: "\e612";
}

.t4p-icon-appbarlistcheck:before {
    content: "\e613";
}

.t4p-icon-appbarlocationcheckin:before {
    content: "\e614";
}

.t4p-icon-appbarmagnify:before {
    content: "\e615";
}

.t4p-icon-appbarmonitor:before {
    content: "\e616";
}

.t4p-icon-appbarpagetext:before {
    content: "\e617";
}

.t4p-icon-appbarpin:before {
    content: "\e618";
}

.t4p-icon-appbarsettings:before {
    content: "\e619";
}

.t4p-icon-appbarsocialfacebook:before {
    content: "\e604";
}

.t4p-icon-appbarsocialtwitter:before {
    content: "\e61a";
}

.t4p-icon-appbarsymbolbraces:before {
    content: "\e61b";
}

.t4p-icon-appbartextserif:before {
    content: "\e61c";
}

.t4p-icon-appbartools:before {
    content: "\e61d";
}

.t4p-icon-appbarvideogallery:before {
    content: "\e61e";
}

.t4p-icon-appbarwindowmaximize:before {
    content: "\e61f";
}

.t4p-icon-titlebar:before {
    content: "\e601";
}